html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.page {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    background-color: #eee;
}